<?php
$translate = $this->plugin('translate');
$escape = $this->plugin('escapeHtml');
$labelInfo = $this->setting('property_label_information');

if ($this->status()->isSiteRequest()) {
    $showLocale = (bool) $this->siteSetting('show_locale_label', true);
    $filterLocale = $this->siteSetting('filter_locale_values');
    $lang = $this->lang();
} else {
    $showLocale = true;
    $filterLocale = false;
    $lang = null;
}
?>
<?php foreach ($values as $term => $propertyData): ?>
    <div class="property">
        <h4>
        <?php if ($propertyData['alternate_label']): ?>
        <?php echo $escape($propertyData['alternate_label']); ?>
        <?php else: ?>
        <?php echo $escape($translate($propertyData['property']->label())); ?>
        <?php endif; ?>
        <?php if ('term' === $labelInfo): ?>
        <span class="field-term">(<?php echo $escape($propertyData['property']->term()); ?>)</span>
        <?php elseif ('vocab' === $labelInfo): ?>
        <span class="field-term">(<?php echo $escape($propertyData['property']->vocabulary()->label()); ?>)</span>
        <?php endif; ?>
        </h4>
        <div class="values">
        <?php foreach ($propertyData['values'] as $value): ?>
            <?php
            $valueType = $value->type();
            $valueLang = $value->lang();
            $class = ['value'];
            if ('resource' == $valueType || strpos($valueType, 'resource') !== false) {
                $class[] = 'resource';
                $class[] = $escape($value->valueResource()->resourceName());
            } elseif ('uri' == $valueType) {
                $class[] = 'uri';
            }
            if (!$value->isPublic()) {
                $class[] = 'private';
            }
            ?>
            <?php if ((!$filterLocale) || ($valueLang == '') || (strcasecmp($valueLang, $lang) == 0)): ?>
            <div class="<?php echo implode(' ', $class); ?>" lang="<?php echo $escape($valueLang); ?>">
                <?php if ($showLocale && $valueLang): ?>
                <span class="language"><?php echo $valueLang; ?></span>
                <?php endif; ?>
<?php
if ($valueType == 'valuesuggest:ndeterms:rkdartists') {
	$view = $value->getServiceLocator()->get('ViewRenderer');
	echo $value->value();
	echo " [" . $view->hyperlink("zoeken", "/index/search?fulltext_search=\"" . $value->value() . "\"", []) . "]";
    if (preg_match("|https://data.rkd.nl/artists/|", $value->uri())) {
      $permalink = preg_replace("|https://data.rkd.nl/artists/|", "https://rkd.nl/nl/explore/artists/", $value->uri());
	  echo " [<a href=\"$permalink\">RKD</a>]";
    }
} elseif ('dcterms:subject' === $term || str_starts_with($valueType, 'valuesuggest:')) {
	$view = $value->getServiceLocator()->get('ViewRenderer');
	echo $view->hyperlink($value->value(), "/index/search?fulltext_search=\"" . $value->value() . "\"", []);
} else {
	echo $filterLocale ? $value->asHtml($lang) : $value->asHtml();
}
?>
            </div>
            <?php endif; ?>
        <?php endforeach; ?>
        </div>
    </div>
<?php endforeach; ?>
